/* General CSS for all pages */
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  font-family: Inter, sans-serif;
  background: #1E1E1E;
  background-image: url("../assets/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
}
